<div style=" background-image: url('https://1159025897.rsc.cdn77.org/data/images/full/80616/red-hot-chili-peppers.jpg');background-attachment: fixed;">
<%- include('../discographyParts/albumsongs') %>
</div>