<!-- <h1>Pocetna strana index.ejs</h1> -->

<!-- <div class="container"> -->
<%-include('../mainParts/blogVideo')%> 

<%-include('../mainParts/x')%>

<%-include('../mainParts/slider.ejs')%> 

<div style="background-color:  #072a5e;">
<%-include('../mainParts/songVideo')%>
</div>
<!-- </div> -->
