<!-- <h1>Pocetna strana index.ejs</h1> -->

<header><%- include('../common/header') %></header>

<div class="container">
  <%-include('../mainParts/blogVideo')%> <%-include('../mainParts/songVideo')%>
</div>

<footer><%- include('../common/footer') %></footer>
