<!--<div class="col-xl-12 bg-image container-fluid" style="background-image: url('https://alterock.net/wp-content/uploads/2016/06/Alterock-RHCP_logo_2015.jpg'); background-repeat: repeat;">-->

<div style="background-color: rgb(201, 201, 201); color: black;">
<div class="p-5">
<table class="table" style="background-color: transparent; color: black;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
</div>