<!-- <p style="position: fixed; bottom: 0; width: 100%" class="text-center">
  Copyright <%= new Date().getFullYear();%>.
</p> -->

<footer class="footer text-center mt-auto">
    <div class="text-center">
        <p class="icons-home">
            <a href="https://www.facebook.com/ChiliPeppers/" target="_blank" aria-label="Facebook">
                <i class="fa-brands fa-facebook-f fa-bounce" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 4;--fa-animation-timing: ease-in-out;"></i>
            </a>
            <a href="https://twitter.com/chilipeppers" target="_blank" aria-label="Twitter">
                <i class="fa-brands fa-twitter fa-bounce" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 4;--fa-animation-timing: ease-in-out;"></i>
            </a>
            <a href="https://www.instagram.com/chilipeppers/" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-instagram fa-bounce" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 4;--fa-animation-timing: ease-in-out;"></i>
            </a>
            <a href="https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5" target="_blank" aria-label="Spotify">
                <i class="fa-brands fa-spotify fa-bounce" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 4;--fa-animation-timing: ease-in-out;"></i>
            </a>
            <a href="https://music.apple.com/us/artist/red-hot-chili-peppers/889780" target="_blank" aria-label="Apple">
                <i class="fa-brands fa-apple fa-bounce" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 4;--fa-animation-timing: ease-in-out;"></i>
            </a>
            <a href="https://www.youtube.com/c/RedHotChiliPeppers" target="_blank" aria-label="YouTube">
                <i class="fa-brands fa-youtube fa-bounce" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 4;--fa-animation-timing: ease-in-out;"></i>
            </a>
            <a href="https://soundcloud.com/red-hot-chili-peppers-official" target="_blank" aria-label="SoundCloud">
                <i class="fa-brands fa-soundcloud fa-bounce" style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 4;--fa-animation-timing: ease-in-out;"></i>
            </a>
        </p>
    </div>
    <div class="text-center">
        <a href="https://siriusxm.us/RedHot" rel="noopener" aria-label="Flea Loves Episode 2 on SiriusXM Channel 315 Whole Lotta Red Hot" target="_blank">
            <img src="https://d33wubrfki0l68.cloudfront.net/093a3b1a38fb3eaac7cc5765c208091e1d486494/c5498/assets/img/channel-logo.png" class="img-fluid" style="margin: 10px 0; max-width: 180px;" alt="SiriusXM Channel 315 Whole Lotta Red Hot">
        </a>
    </div>
    <div class="container px-4 px-lg-5 pb-3" id="footerText">
        © <script>document.write( new Date().getFullYear() );</script> RHCP. All Rights Reserved. <a href="/privacy-policy" class="no-underline" aria-label="Privacy Policy and Terms of Use">Privacy&nbsp;Policy&nbsp;and&nbsp;Terms&nbsp;of&nbsp;Use</a></p>
    </div>
</footer>